* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 48, 16);
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(10, 59, 14);
}

main{
    flex: 1;
}

.cabecalho-link{
    color: rgb(128, 26, 26);
    text-decoration: none;
}

h1{
    color: rgb(104, 20, 20);
}   

footer{
    background-color: rgb(18, 73, 43);
    padding: 15px 25px;
    color: white;
}